h1
{
    background-color: 013C65 ;
    font-size: 30px;
	text-align: center;
}
.content {
  background-color: #013C65;
  padding: 5px;
  text-align: center;
}

body {
	
	text-align: center;
	background-color: 013C65;
	margin: 1 in;
}
.topnav a {
  float: center;
  display: block;
  color: #F6B000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #F6B000;
  color: black;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}