body {
	
	text-align: center;
	list-style-position: inside;
	background-color: powderblue;
}
header {
	background-color:gold;
	border: 5px black;
	margin: 10px 50px;
}
header h1 {
	border: 2px dashed black;
	margin-top: 10px;
	margin-bottom:0;
  font-size: 55pt;
  font-family: "Copperplate", fantasy;
}
header h2 {
	font-size: 40pt;
	font-variant-caps: all-petite-caps;
}

main h1 {
	font-family: "Copperplate", fantasy;
	font-size: 55pt;
}
main h2 
{
	font-family: "Copperplate", fantasy;
	font-size: 25pt;
}
main ul
{
	display: table;
	margin: 0 auto;
	text-align: left;
}
#wantedList {
	font-size: 15pt;
	float: right;
}
