header {
	background-color:gold;
	border: 5px black;
	margin: 10px 100px;
}
footer {
	bottom: 0;
	width: 100%;
	position: fixed;
	text-align: center;
	
	
}

body {
	
	text-align: center;
	list-style-position: inside;
	background-color: powderblue;
}
header h1 {
	border: 2px dashed black;
	margin-top: 10px;
	margin-bottom:0;
  font-size: 65pt;
  font-family: "Copperplate", fantasy;
}
main h1 {
	font-family: "Copperplate", fantasy;
	font-size: 40pt;
}

footer p {
	display:block;
	margin-block-start: 1;
  color: red;
}
#wantedList {
	font-size: 25pt;
	float: right;
}
