header {
	background-color:gold;
	border: 5px black;
	margin: 10px 100px;
}
footer {
	display:block;
	list-style-position: inside;
	
}
main {
	display:block;
}
body {
	
	text-align: center;
	list-style-position: inside;
	background-color: powderblue;
}
h1 {
	border: 2px dashed black;
	margin-top: 10px;
	margin-bottom:0;
  font-size: 75pt;
  font-family: "Copperplate", fantasy;
}
h2 {
	font-weight: bold;
	margin-bottom: 0;
}
p {
	display:block;
	margin-block-start: 1
  color: red;
}
img {
	float: left;
	border: 1px black;
	margin 10px 10px 15px 20px;
}
#wantedList {
	font-size 30pt;
	float: right;
}
